<!-- About -->
<div class="about" id="about">
    
    <div class="container" style="margin-top:120px; margin-bottom:-60px;">
  
        <div class="row"> 
          <!-- left side -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                <img src="{{site.url}}/assets/images/demo-fields.png" class="img-fluid">
                <figcaption>Mapping fields on Vava'u using QField</figcaption>
                </figure>
            </div>
  
          <!-- right side -->
          
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h2><em>Welcome!</em></h2>
                <h4><em>Geospatial applications for climate-smart landscape management</em></h4>
    
                <p>Using a collaborative information and communications technology for development (ICT4D) process, we are
                developing open-source applications to map diverse landscapes and seascapes.</p>
    
                <p>This project is funded by the Australian Centre for International Agricultural Research (ACIAR) and is a collaboration between 
                stakeholders in Fiji, Tonga, Australia, and New Zealand.</p>
            </div>
        
        </div> <!-- end row -->

    </div> <!-- end container -->
    
  </div> <!-- end about-->