<!-- About -->
<div class="about" id="about">
    
    <div class="container" style="margin-top:120px; margin-bottom:-60px;">
  
        <div class="row"> 
          <!-- left side -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                <img src="{{site.url}}/assets/images/demo-fields.png" class="img-fluid">
                <figcaption>Mapping fields on Vava'u using QField</figcaption>
                </figure>
            </div>
  
          <!-- right side -->
          
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h2><em>Welcome!</em></h2>
                <h4><em>Geospatial applications for climate-smart landscape management</em></h4>
    
                <p>Using a collaborative information and communications technology for development (ICT4D) process, we are
                developing open-source mobile, desktop, and cloud tools to monitor and map diverse landscapes and seascapes.</p>
    
                <p>This project is funded by the Australian Centre for International Agricultural Research (ACIAR) and is a collaboration between 
                stakeholders in Fiji, Tonga, Australia, and New Zealand. We are testing and developing geospatial applications in diverse landscapes and ecosystems 
                across Fiji and Tonga.</p>
                <ul>
                <li>map landscape resources in the field using <a href="https://qfield.org" target="_blank">mobile GIS</a></li>
                <li>monitor inter-annual landscape dynamics using satellite images</li>
                <li>capture rich socio-economic and agricultural information</li>
                <li><a href="https://livelihoods-landscape.shinyapps.io/tonga-crop-survey/" target="_blank">spatial dashboards</a> to integrate field data with secondary geospatial data layers</li>
                <li>spatial databases and server-side applications to manage spatial and non-spatial datasets</li>
                </ul>
            </div>
        
        </div> <!-- end row -->

    </div> <!-- end container -->
    
  </div> <!-- end about-->