<!-- Context Analysis -->
<div class="context-analysis" id="context-analysis">
    
    <div class="container" style="margin-top:120px; margin-bottom:-60px;">
  
        <div class="row"> 
          
          <!-- right side -->
          
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2><em>Context Analysis</em></h2>
                <h4><em>Generate an understanding of the environment in which an ICT application will be deployed and used</em></h4>
    
                <p>Participatory modelling, household surveys, and expert interviews were collected to generate a detailed understanding of how the landscape is used to support livelihoods. 
                This informs development of geospatial tools tailored for collecting and visualising geospatial data at scales that reflect how (all) people use the landscape. </p>
    
                <p>The technical features of over 100 mobile data collection applications were evaluated to identify functionalities provided by existing software that could be used in geospatial tool. 
                The GIS tools used by the Fijian government, Pacific, and international organisations were reviewed to avoid duplication.</p>
               
                <p>Fine spatial resolution landscape dynamics maps do not exist for Pacific Island Countries. 
                A machine learning approach to map inter-annual land cover dynamics using Sentinel-2 remote sensing data has been developed.</p>

            </div>
        </div> <!-- end row-->
        <div class="row">
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/context-analysis-fishing.png" class="img-fluid img-thumbnail">
                    <figcaption><p><b>Participatory Modelling</b></p>
                    <p>Participatory models were used alongside household survey data understand how the landscape supports people's livelihoods<p></figcaption>
                </figure>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/context-analysis-mangrove-scoping-small.jpg" class="img-fluid img-thumbnail">
                    <figcaption><p><b>Community Tours</b></p>
                        <p>Seeing where, and learning how, people use the landscape to generate food, income, or support livelihoods in different ways.<p></figcaption>
                        </figure>
                </figure>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/context-analysis-mangrove-discussion.jpg" class="img-fluid img-thumbnail">
                    <figcaption><p><b>Learning with landscape users</b></p>
                        <p>Discussing how mangrove ecosystems in Ba can help mitigate and buffer the effects of cliamte change.<p></figcaption>
                        </figure>
                </figure>
            </div>
  
        </div><!-- end row-->



    </div> <!-- end container -->
    
</div> <!-- end about-->