<!-- Needs Assessment -->
<div class="dev" id="dev">
    
    <div class="container" style="margin-top:120px; margin-bottom:-60px;">
  
        <div class="row"> 
          
          <!-- right side -->
          
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2><em>Test Develop Deploy</em></h2>
                <h4><em>Design, build, and use geospatial applications</em></h4>
    
                <p>A workflow that provides geospatial applications to support monitoring and managing heterogeneous agricultural landscapes has been designed and developed. 
                Where possible, this workflow builds on existing software (e.g. QField mobile GIS). If existing software is not available then new applications were developed (e.g. Express.js server-side apps for syncing data collected in the field).</p>

                <p>Read about how this workflow is being used <a href="https://livelihoods-and-landscapes.com/use-case.html" target="_blank">here</a></p>

            </div>
        </div> <!-- end row-->
        <div class="row">
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/workflow.png" class="img-fluid img-thumbnail">
                    <figcaption><p><b>Workflow</b></p>
                    <p>Workflow to collect geospatial data to monitor diverse Pacific agricultural landscapes.<p></figcaption>
                </figure>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/system-diagram.png" class="img-fluid img-thumbnail">
                    <figcaption><p><b>Systems Diagram</b></p>
                        <p>Software components and functionalities that comprise workflow to collect, manage, and visualise geospatial landscape data.<p></figcaption>
                </figure>
            </div>
  
        </div><!-- end row-->



    </div> <!-- end container -->
    
</div> <!-- end about-->