<footer>
    <hr>
    <div style="text-align: center;">
        <h6>Acknowledgement</h6>
        <p>This research is funded by the Australian Centre for International Agricultural Research</p>
        <p>The research team would like to thank the numerous people in Fiji and Tonga who have contributed their time, expertise, and enthusiasm to this work.</p>
        <p>Contact: <a href="mailto:bryan.boruff@uwa.edu.au">Bryan Boruff @ The University of Western Australia</a></p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
