<!-- Needs Assessment -->
<div class="needs-assessment" id="needs-assessment">
    
    <div class="container" style="margin-top:120px; margin-bottom:-60px;">
  
        <div class="row"> 
          
          <!-- right side -->
          
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2><em>Needs Assessment</em></h2>
                <h4><em>Identify unmet needs for geospatial data and applications</em></h4>
    
                <p>Focus groups in Fiji and Tonga with landscape stakeholders to identify unmet needs for geospatial data or GIS software. 
                Expressed needs were documented and prioritised based on cost, technical feasibility, data availability, user capacity, and scalability.</p>
    
                <p>This prioritisation of needs provided focus for tool design and contributed to a process of aligning ICT with stakeholder requirements.</p>
               
                <p>Priority needs:</p>

                <ul>
                    <li>crop and farm survey mapping apps</li>
                    <li>land use and land cover dynamics maps</li>
                    <li>climate and weather information</li>
                </ul>

                <p>Extension officers, or people in similar roles in other organisations, were identified as key end-users.</p>

            </div>
        </div> <!-- end row-->
        <div class="row">
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/needs-assessment-focus-group.jpg" class="img-fluid img-thumbnail">
                    <figcaption><p><b>Focus Groups</b></p>
                    <p>Focus groups in Tonga and Fiji to identified unmet needs for geospatial data or applications.<p></figcaption>
                </figure>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/needs-assessment-prioritisation-matrix.png" class="img-fluid img-thumbnail">
                    <figcaption><p><b>Prioritising Needs</b></p>
                        <p>Matrix used to priortise needs for geospatial data and applications stated by landscape stakeholders during focus groups.<p></figcaption>
                </figure>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/needs-assessment-data.png" class="img-fluid img-thumbnail">
                    <figcaption><p><b>Needs for Geospatial Data</b></p>
                        <p>Frequency of mention of different types of geospatial data in focus groups.<p></figcaption>
                        </figure>
                </figure>
            </div>
  
        </div><!-- end row-->



    </div> <!-- end container -->
    
</div> <!-- end about-->