<!-- Needs Assessment -->
<div class="use-case-story" id="use-case-story">
    
    <div class="container" style="margin-top:120px; margin-bottom:-60px;">
  
        <div class="row"> 
          
          <!-- right side -->
          
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2><em>Use Cases and Requirements Analysis</em></h2>
                <h4><em>Use case modelling and testing prototypes to identify requirements for the geospatial tool</em></h4>
    
                <p>An iterative process of use case modelling, agile prototype development, and field testing with end-users to:</p>

                <ul>
                    <li>build relationships with stakeholders</li>
                    <li>enable end-users to test geospatial tools in mixed landscape settings</li>
                    <li>encourage end-users to generate new ideas about how geospatial data could be used</li>
                    <li>identify key functional requirements for the geospatial tool</li>
                </ul>
    
                <p>Use cases and narratives are a technique to explore the interaction between ‘actors’ (e.g. extension officers) and an ICT. 10 use case models were created using the context analysis and needs assessment and were discussed with landscape stakeholders in focus groups. 
                    These models were used to prompt discussion on uses of geospatial applications, to elicit feedback on missing functionalities, avoid duplication of existing software, and inform prototype development.</p>
               
                <p>Prototypes were field-tested with extension officers and other landscape stakeholders on a range of farms. Following rounds of prototype development and testing, stakeholders identified that the following activities would benefit from the development of geospatial applications:</p>

                <ul>
                    <li>crop and farm surveys (Ministry of Agriculture, Food, and Forests - Tonga)</li>
                    <li>timber statement and forest monitoring (Ministry of Forests - Fiji)</li>
                    <li>land cover mapping and field verification (Ministry of Forests - Fiji)</li>
                    <li>community livelihoods mapping (Ba, Fiji)</li>
                </ul>

                <p>These activities formed case studies which focused the development of geospatial applications.</p>

            </div>
        </div> <!-- end row-->
        <div class="row">
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/req-analysis-adap-use-case.png" class="img-fluid img-thumbnail">
                    <figcaption><p><b>Use Case Model</b></p>
                    <p>Example of a use case model illustrating how an extension officer and analyst can use a geospatial tool to access information relevant for climate change adaptation.<p></figcaption>
                </figure>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/req-analysis-forest-test.jpg" class="img-fluid img-thumbnail">
                    <figcaption><p><b>Forest Prototype</b></p>
                        <p>Testing a mobile GIS prototype to map forest resources in the upper catchment of Ba.<p></figcaption>
                </figure>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/req-analysis-forest-reporting.png" class="img-fluid img-thumbnail">
                    <figcaption><p><b>Demo Dashboards</b></p>
                        <p>Demo spatial data dashboard for querying, visualising, and mapping multiple spatial layers.<p></figcaption>
                        </figure>
                </figure>
            </div>
  
        </div><!-- end row-->



    </div> <!-- end container -->
    
</div> <!-- end about-->