<div class="container" style="margin-top:120px; margin-bottom:-60px;">
  
    <h2>Research</h2>
    
        <div class="row"> 
        <!-- left side -->
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p> In Pacific Island Countries, the environmental resources that support livelihoods are 
                distributed across landscapes in a mix of spatial patterns. Capturing the spatial detail in landscape use is important to
                inform landscape management that is sensitve to these livelihood dependencies.</p>

                <p>This research combines a conceptual framework that considers links between livelihoods and the environment 
                    <a href="https://www.sciencedirect.com/science/article/pii/S1462901115300563" target="_blank">(Environmental Livelihood Security)</a>
                    with a collaborative software development methodology <a href="https://www.researchgate.net/profile/Anna_Bon/publication/311983668_Developing_ICT_Services_in_a_Low-Resource_Development_Context/links/586a610608ae329d62101962/Developing-ICT-Services-in-a-Low-Resource-Development-Context.pdf" target="_blank">(ICT4D)</a>
                    to: 
                    <ul>
                       <li>develop a workflow and geospatial apps to map and monitor landscapes.</li>
                       <li>build the capacity of landscape stakeholders to use GIS and geospatial data for landscape management.</li>
                    </ul>
                </p>
                
                <div style="margin-top:60px;">
                    {% include research-info-cards.html %}
                    
                    <figure>
                        <a href="https://docs.google.com/presentation/d/e/2PACX-1vQsM-yNpFxXo6kNb96BLM7DjFaSzusMi760koA6X99Xvex4b7ALW9pd2v4qQiGy-DnC7DP0d3MdQPQb/pub?start=false&loop=false&delayms=3000" target="_blank">
                        <img src="{{site.url}}/assets/images/workflow 2.png" class="img-fluid class rounded mx-auto d-block">
                        <figcaption></figcaption>
                        </a>
                    </figure>
                </div>

            </div>
        </div> <!-- end row-->

  </div> <!--container end-->