<div class="container" style="margin-top:120px; margin-bottom:-60px;">
  
    <h2><em>Research</em></h2>
    
        <div class="row"> 
        <!-- left side -->
            <div class="col-lg-8 col-md-8 col-sm-12">
                <p> In Pacific Island Countries, the environmental resources that support livelihoods are 
                distributed across the landscape in a mix of spatial patterns. Capturing this spatial detail in landscape use is important to:
                i) generate accurate understandings of how landscape resources support livelihoods, and ii) inform landscape management that is sensitve to these livelihood dependencies.</p>

                <p>This research combines a conceptual framework that considers links between livelihoods, the environment, and external stressors 
                    <a href="https://www.sciencedirect.com/science/article/pii/S1462901115300563" target="_blank">(Environmental Livelihood Security (ELS))</a>
                    and a collaborative software development methodology <a href="https://www.researchgate.net/profile/Anna_Bon/publication/311983668_Developing_ICT_Services_in_a_Low-Resource_Development_Context/links/586a610608ae329d62101962/Developing-ICT-Services-in-a-Low-Resource-Development-Context.pdf" target="_blank">(ICT4D)</a>.</p>
        
                <p>Through this process we are developing geospatial applications to capture and 
                    analyse how landscapes are used to support livelihoods and build the capacity of landscape
                    stakeholders to use GIS and geospatial data when managing landscape resources.</p>

                <p>These geospatial applications and workflows provide tools to:
                <ul>
                    <li>capture geospatial data that reflects the diverse uses of landscape resources (e.g. kitchen gardens, large commercial farms)</li>
                    <li>integrate spatial data collected “in the field” with secondary geospatial layers</li>
                    <li>easily process, analyse, and visualise local-level spatial data collected “in the field” using mobile GIS</li>
                    <li>enable non-GIS specialists to generate insights from geospatial data relevant for managing landscape resources</li>
                </ul>
                </p>

            </div>

            <!-- right side -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="flex-column">
                    <div class="circle">
                        <figure>
                            <img src="{{site.url}}/assets/images/using-tablet-1-small.jpg" class="img-fluid">
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <div class="circle">
                        <figure>
                            <img src="{{site.url}}/assets/images/forestry-fieldwork.jpg" class="img-fluid">
                            <figcaption>Testing crop and forest mapping apps, Fiji</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </div> <!-- row end -->
        
  </div> <!--container end-->