<div class="container" style="margin-top:20px; margin-bottom:10px;"> 

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4><em>An open-source workflow to map and monitor diverse landscaes...</em></h4>
        </div>
    </div>


    <div class="row d-flex justify-content-around">

      <!-- mobile data collection modal -->
      <div class="col-lg-3 col-md-3 col-sm-12 mb-4">
        <div class="card border-secondary mb-4 h-100">
            <div class="card-body">
                <div class="text-center">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#mobileGIS">
                        <i class="fa fa-map-marked-alt fa-5x"></i>
                    </button>
                    <h4>In The Field</h4>
                    <p class="card-text">Map landscapes with mobile GIS.</p>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="mobileGIS" tabindex="-1" role="dialog" aria-labelledby="mobileGISLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mobileGISLabel">QField for mobile data collection</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <figure>
                        <img src="{{site.url}}/assets/images/qfield-ui.png" class="img-fluid">
                        <figcaption>QField UI, map digitising screen, and form interface.</figcaption>
                        </figure>
                    </div>
                    <p>
                        We reviewed the functionality and characteristics of over 100 mobile GIS data collection apps against a set of technical criteria and criteria defined by stakeholders and end-user requirements.
                        <a href="https://qfield.org" target="_blank">QField</a> was identified as the most suitable app for capturing geospatial information about landscape use and condition in the field. QField is open-source, 
                        based on the QGIS desktop GIS platform, integrates easily with spatial databases, and allows for viewing secondary spatial layers in-the-field. In the field it provides touch-optimised map interface for digitising spatial features
                        and digital forms for capturing attribute and non-spatial data.
                    </p>
                    <div class="modal-body">
                        <figure>
                        <img src="{{site.url}}/assets/images/secondary-qfield-layers.png" class="img-fluid">
                        <figcaption>Viewing secondary geospatial layers in QField mobile GIS.</figcaption>
                        </figure>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
      </div><!--col-->

      <!-- data management modal -->
      <div class="col-lg-3 col-md-3 col-sm-12 mb-4">
        <div class="card border-secondary mb-4 h-100">
          <div class="card-body">
            <div class="text-center">
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#dataMgmt">
                <i class="fa fa-server fa-5x"></i>
              </button>
              <h4>In The Cloud</h4>
              <p class="card-text">Server apps and databases to sync data collected on mobile devices.</p>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="dataMgmt" tabindex="-1" role="dialog" aria-labelledby="dataMgmtLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="dataMgmtLabel">Data management and visualisation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                    We have developed a server application and spatial databases for secure management geospatial data collected in-the-field using QField on multiple mobile devices. Using a simple deployment process, set up secure cloud storage and a web application to manage data collected in-the-field. Data collectors using QField can can submit their landscape data via a web form in their browser and the server app will screen this data and add it to secure cloud storage.
                    <ul>
                        <li>Web forms to submit data collected on mobile devices.</li>
                        <li>Express.js server-side app to handle submitted data and interface with secure cloud storage.</li>
                    </ul> 
                </p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div><!--col-->

      <!-- dashboard modal -->
      <div class="col-lg-3 col-md-3 col-sm-12 mb-4">
        <div class="card border-secondary mb-4 h-100">
          <div class="card-body">
            <div class="text-center">
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#dashboard">
                <i class="fa fa-chart-area fa-5x"></i>
              </button>
              <h4>On Your Desktop</h4>
              <p class="card-text">Use dashboards to analyse and visualise landscape data collected in-the-field.</p>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="dashboard" tabindex="-1" role="dialog" aria-labelledby="dashboardLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="dashboardLabel">Data management and visualisation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>We developed a dashboard application to explore geospatial data using interactive tables, web maps, and charts. map.landscape is developed using the <a href="https://shiny.rstudio.com" target="_blank">Shiny</a> framework. It uses <a href="https://dplyr.tidyverse.org" target="_blank">dplyr</a> for data processing and <a href="https://r-spatial.github.io/sf/" target="_blank">sf</a> for handling spatial data.</p>
                  <p>The motivation to develop map.landscape was to quickly explore and sync data collected using <a href="https://qfield.org" target="_blank">QField</a> mobile GIS. However, it supports spatial and non-spatial data in GeoPackage files and is relevant for a range of data exploration and visualisation use cases.</p>
                  <ul>
                    <li>Sync data collected using QField on different mobile devices.</li>
                    <li>Upload spatial and non-spatial tabular data as GeoPackage or zip files.</li>
                    <li>Explore data in interactive tables (using <a href="https://rstudio.github.io/DT/" target="_blank">DataTables</a>).</li>
                    <li>Combine tabular data using spatial and non-spatial joins.</li>
                    <li>Create summary tables.</li>
                    <li>Create and style web maps (using <a href="https://rstudio.github.io/leaflet/" target="_blank">Leaflet</a>).</li>
                    <li>Visualise data using different charts (using <a href="https://ggplot2.tidyverse.org" target="_blank">ggplot2</a>).</li>
                  </ul> 


                <figure>
                    <img src="{{site.url}}/assets/images/dashboard-ui.png" class="img-fluid">
                    <figcaption>map.landscape - a Shiny dashboard for managing, analysing, and visualising geospatial data.</figcaption>
                </figure>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div><!--col-->

      <!-- land use mapping modal -->
      <div class="col-lg-3 col-md-3 col-sm-12 mb-4">
        <div class="card border-secondary mb-4 h-100">
          <div class="card-body">
            <div class="text-center">
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#lulc">
                <i class="fa fa-satellite fa-5x"></i>
              </button>
              <h4>At Scale</h4>
              <p class="card-text">Use satellite images and machine learning to monitor inter-annual landscape dynamics.</p>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="lulc" tabindex="-1" role="dialog" aria-labelledby="lulcLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="lulcLabel">Inter-annual land cover monitoring</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                    Using ESA Sentinel-2 images and ancillary datasets, a machine learning model to map inter-annual land cover dynamics at a 10 m spatial resolution
                    has been developed. Initial field validation of this method has been undertaken in Ba, Fiji, in collaboration with the Ministry of Forests Forest Resource and Assessment Group (FRAC).
                </p>  
                <figure>
                  <img src="{{site.url}}/assets/images/lc-ba-frac.jpg" class="img-fluid">
                  <figcaption>2017-2018 land cover predicted from Sentinel-2 data, Ba, Fiji.</figcaption>
                </figure>
                <figure>
                    <img src="{{site.url}}/assets/images/lc-zoom-in.jpg" class="img-fluid">
                    <figcaption>Village close-up of land cover map.</figcaption>
                  </figure>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div><!--col-->

    </div> <!--row-->
  </div> <!--container-->