<!-- Research -->
<div class="research" id="research">

    {% include research-overview.html %}
  
      <div class="container" style="margin-top:120px; margin-bottom:-60px;">
        
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h4><em>See this workflow in action and learn how you can use it...</em></h4>
          </div>
        </div>  
        
        <div class=row>
  
          <!-- Livelihoods and landscapes modal -->
          <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="card border-primary mb-4 h-100">
              <div class="card-img">
                <img src="{{site.url}}/assets/images/using-tablet-1-small.jpg" alt="...">
              </div>
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Livelihoods and Landscapes</h4>
                <p class="card-text">Understanding links between livelihoods, landscapes, and environmental stressors in Pacific Island Countries.</p>
                <a class="btn btn-primary mt-auto align-items-end" href="/lal.html" target="_blank" role="button">Livelihoods and Landscapes</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="card border-primary mb-4 h-100">
              <div class="card-img">
                <img src="{{site.url}}/assets/images/crop-survey-2.jpg" alt="...">
              </div>
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Use Cases</h4>
                <p class="card-text">Examples of how geospatial applications developed through this project are being used in Fiji and Tonga.</p>
                <a class="btn btn-primary mt-auto align-items-end" href="/use-case.html" target="_blank" role="button">Use Cases</a>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
              <div class="card border-primary mb-4 h-100">
                <div class="card-img">
                    <img src="{{site.url}}/assets/images/causal-loop-diagramming-small.jpg" alt="...">
                </div>
                <div class="card-body d-flex flex-column">
                   <h4 class="card-title">ICT4D Story</h4>
                  <p class="card-text">The collaborative Information and Communications for Development process used to inform the development of geospatial applications.</p>
                  <a class="btn btn-primary mt-auto align-items-end" href="/story.html" target="_blank" role="button">ICT4D Story</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="card border-primary mb-4 h-100">
              <div class="card-img">
                <img src="{{site.url}}/assets/images/landcover-fijian-small.jpg" alt="...">
              </div>
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Geospatial Apps</h4>
                <p class="card-text">An overview of applications and software developed for monitoring and mapping landscape resources.</p>
                <a class="btn btn-primary mt-auto align-items-end" href="/apps.html" target="_blank" role="button">Apps</a>
              </div>
            </div>
          </div>
  
  
        </div>
  
  
    </div>
  </div>

