<!-- Story About -->
<div class="story-about" id="story-about">
    
    <div class="container" style="margin-top:120px; margin-bottom:-60px;">
  
        <div class="row"> 
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2><em>ICT4D Story</em></h2>
                <p>The geospatial tool is being developed using an Information and Communications Technology for Development (ICT4D) approach, outlined in <a href="https://www.researchgate.net/profile/Anna_Bon/publication/311983668_Developing_ICT_Services_in_a_Low-Resource_Development_Context/links/586a610608ae329d62101962/Developing-ICT-Services-in-a-Low-Resource-Development-Context.pdf" target="_blank">Bon et al (2016)</a>, in collaboration with stakeholders in Fiji and Tonga.</p>

                <p>The ICT4D approach presents a collaborative software development methodology that emphasises:</p>

                <ul>
                    <li>inclusion of different stakeholder groups</li>
                    <li>addressing issues of sustainability of ICT use</li>
                    <li>encouraging contributions from stakeholders at each design phase</li>
                    <li>aligning with and supporting stakeholder needs</li>
                    <li>building on existing software</li>
                    <li>developing an ICT to have immediate relevance to current work processes</li>
                </ul>

                <p>The ICT4D approach outlines five key developments to be pursued in an iterative manner:</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/ict4d.png" class="img-fluid">
                    <figcaption>ICT4D approach adapted from Bon et al (2016)</figcaption>
                </figure>
            </div>

        </div> <!-- end row-->

    </div> <!-- end container-->


</div> <!-- end story about-->