<!-- Sustainability Assessment -->
<div class="sust-assessment" id="sust-assessment">
    
    <div class="container" style="margin-top:120px; margin-bottom:-60px;">
  
        <div class="row"> 
          
          <!-- right side -->
          
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2><em>Sustainability Assessment</em></h2>
                <h4><em>Ensuring the geospatial tool is used and developed beyond the lifetime of the project</em></h4>
    
                <p>Geospatial applications developed through this project are designed to align with the Digital Impact Alliance's <a href="https://digitalprinciples.org" target="_blank"<a>Principles for Digital Development</a></p>
    
             

            </div>
        </div> <!-- end row-->

    </div> <!-- end container -->
    
</div> <!-- end about-->