<!-- HH Survey -->
<div class="use-case" id="hh-survey">
    
    <div class="container" style="margin-top:30px; margin-bottom:-10px;">
  
        <div class="row"> 
          <!-- left side -->
          <div class="col-lg-8 col-md-8 col-sm-12">
                <h2><em>Household Survey - Fiji</em></h2>
                <h4><em>Estimating Coastal Landscape Service Flows</em></h4>

                <p>A household survey including closed and open questions covering topics related to household liveihood activities, use of landscape resources, and climatic and other challenges related to 
                    landscape resource use was undertaken in four communities in Coastal Ba, Fiji - Etatoko, Koronubu Vunibaka, Natutu, and Nawaqarua.

                    The household survey data was analysed by representing coastal livelihood systems using network graphs that visualise: 

                    <ul>
                        <li>How different people undertake different landscape activities (i.e. varied forms of livelihood diversity)</li>
                        <li>The varying value of flows of ecosystem services from different landscape activities</li>
                        <li>The varied impacts of climate shocks to landscape activities</li>
                    </ul>
                    
                    These network graphs are drawn separately at the household level and for men and women landscape users. </p>
            </div>
  
          <!-- right side -->
            <div class="col-lg-4 col-md-4 col-sm-12 hh-survey">
                <figure>
                    <img src="{{site.url}}/assets/images/ba_livelihoods_network_graphs-3.jpg" class="img-fluid">
                    <figcaption>Network graph visualising value of ecosystem service flows from different landscape activities</figcaption>
                </figure>
            </div>
        
        </div> <!-- end row -->

    </div> <!-- end container -->
    
  </div> <!-- end about-->