<!-- Crop Survey -->
<div class="use-case" id="crop-survey">
    
    <div class="container" style="margin-top:30px; margin-bottom:-10px;">
  
        <div class="row"> 
          <!-- left side -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/tonga-crop-survey-1.jpg" class="img-fluid rounded img-thumbnail">
                    <figcaption>The Tonga Crop Survey team on Vava'u</figcaption>
                </figure>
            </div>
  
          <!-- right side -->
          
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h2><em>Crop Survey and Farm Mapping - Tonga</em></h2>
                <h4><em>Mapping Tonga's farms</em></h4>
    
                <p>In collaboration with the MAFF team from Vava’u, Tonga, mobile data collection forms and spatial databases have been developed for mapping the extent of crops grown within farms 
                    and monitoring farm management practices. 
                    This data is collected in-the-field using QField mobile GIS.</p>
    
                <p>Using these tools, MAFF staff are mapping farms on the island groups of
                    Tongatapu, Vava'u, Eua, and Ha’apai in Tonga. This field work is supported by web forms and server-side apps for data management and the map.landscape dashboard for data syncing and visualisation. 
                </p>
               
            </div>
        
        </div> <!-- end row -->

    </div> <!-- end container -->
    
  </div> <!-- end about-->