<!-- land cover  -->
<div class="use-case" id="landcover">
    
    <div class="container" style="margin-top:30px; margin-bottom:-10px;">
  
        <div class="row"> 
          <!-- left side -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/poster-flow-chart.jpg" class="img-fluid rounded img-thumbnail">
                    <figcaption>Using QField to collect ground truth data</figcaption>
                </figure>
            </div>
  
          <!-- right side -->
          
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h2><em>Inter-annual land cover dynamics - Fiji</em></h2>
                <h4><em>Using cloud computing, machine learning, and satellite images to monitor inter-annual land cover dynamics</em></h4>
    
                <p>Using ESA Sentinel-2 images with a 10 m spatial resolution and 5 day revist period, a machine learning model has been trained to each 10 m pixel's land cover per year. 
                    Relative to other land cover maps with coverage over Pacific Island countries, this approach offers improved thematic resolution (it captures a broader range of land cover classes which reflects actual 
                    landscape heterogeneity - current maps used in Fiji with similar spatial resolutions typically map only forest and non-forest classes), improved spatial resolution (relative to other datasets with similar thematic 
                    resolution of land cover classes captured), and captures local-level inter-annual land cover changes (most land cover maps with Pacific Island coverage are either for a single snapshot in time or
                    monitor land cover dynamics at coarser spatial resolutions). 
                </p>

                <p>Initial field validation has been undertaken in Ba, Fiji. Collaboration with the Ministry of Forests Resource and Assessment Group (FRAC) in 
                    Fiji is ongoing to support use of this land cover mapping method for REDD+ reporting requirements and using QField mobile GIS to collect ground truth data for 
                    model training and validation (training workshop on <a href="https://livelihoods-and-landscapes.github.io/qgis_qfield_tutorials/usecase_groundtruth.html" target="_blank">ground truth data collection</a>). 
                </p>
    
                <p>Read more about this work on the QField blog: <a href="https://qfield.org/docs/case-studies/lulc-mapping-fiji.html" target="_blank"><em>Ground Truth Data Collection Using QField for LULC Mapping in Fiji</em></a></p>
               
            </div>
        
        </div> <!-- end row -->

    </div> <!-- end container -->
    
  </div> <!-- end about-->