<!-- HH Survey -->
<div class="use-case" id="hh-survey">
    
    <div class="container" style="margin-top:30px; margin-bottom:-10px;">
  
        <div class="row"> 
          <!-- left side -->
          <div class="col-lg-8 col-md-8 col-sm-12">
                <h2>Household Survey - Fiji</h2>
                <h4>Estimating Coastal Landscape Service Flows</h4>

                <p>A household survey covering topics related to household liveihood activities, use of landscape resources, and climatic challenges to 
                    managing landscape resources was undertaken in four communities in Coastal Ba, Fiji - Etatoko, Koronubu Vunibaka, Natutu, and Nawaqarua. 

            </div>
  
          <!-- right side -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="{{site.url}}/assets/images/hh-survey-small.jpg" class="img-fluid rounded img-thumbnail">
                    <figcaption>Collecting household survey data in coastal communities in Ba, Fiji</figcaption>
                </figure>
            </div>
        
        </div> <!-- end row -->

    </div> <!-- end container -->
    
  </div> <!-- end about-->