---
---

body {
    background-image: url('{{site.url}}/assets/images/farm-bg-fade-2.jpg');

    background-position: center center;
    
    background-repeat: no-repeat;

    background-attachment: fixed;
    
    background-size: cover;

    background-color: #464646;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    position: relative;
    
  }

p {
    font-size: larger;
 } 

li {
    font-size: larger;
 }  
/*footer*/
.footer {
    flex-shrink: 0;
  }

/*home page*/

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('{{site.url}}/assets/images/lautoka-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.home h1{
    color: white;
    font-weight: bold;
}

.home h4{
    color: white;
    font-weight: bold;
}

/*fig caption*/

figure figcaption {
    text-align: center;
}

/*about*/

.about{
    padding: 1em;
    position: relative;
}

.about img{
    width: 100%;
}

.about span{
    display: block;
    position: absolute;
    left: 15%;
}

/*research*/

.research {
    padding: 1em;
    position: relative;
}

.research .card-img img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.research img{
    width: 90%;
}

.research .circle img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/*training*/

.training {
    padding: 1em;
    position: relative;
}

/*resources*/

.resources {
    padding: 1em;
    position: relative;
}

/*team*/

.team {
    padding: 1em;
    position: relative;
}

/*use cases*/

.use-case-home{
    flex: 1 0 auto;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    padding: 1em;
    position: relative;
}

.use-case{
    padding: 1em;
    position: relative;
}

/*lal*/

.lal-home{
    flex: 1 0 auto;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    padding: 1em;
    position: relative;
}

.lal{
    padding: 1em;
    position: relative;
}

.lal-home img{
    width: 80%;
}

/*apps*/

.apps-home{
    flex: 1 0 auto;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    padding: 1em;
    position: relative;
}

/*story about*/
.story-about{
    padding: 1em;
    position: relative;
}

.story-about #mapid{
    height: 60vh; 
    width: 100%;
}

/*context analysis*/

.context-analysis{
    padding: 1em;
    position: relative;
}

.context-analysis img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

/*neeed-assessment*/

.needs-assessment{
    padding: 1em;
    position: relative;
}

.needs-assessment img{
    width: 100%;
    height: 40vh;
    object-fit: scale-down;
}

/*use case req analysis*/

.use-case-story{
    padding: 1em;
    position: relative;
}

.use-case-story img{
    width: 100%;
    height: 40vh;
    object-fit: scale-down;
}

/*Test Dev Deploy */

.dev{
    padding: 1em;
    position: relative;
}

.dev img{
    width: 100%;
    height: 40vh;
    object-fit: scale-down;
}